<!--
 *
 * 8mana Hexagram Guide 
 * Copyright (C) 2021 James Michiemo 
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.

 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div id="app">
    <div class="container">
      <h1 style="margin: 0 auto;"><img v-bind:src="logo"></h1>
      <h2 id="hexagram_heading">Hexagram Guide</h2>
      <div class="top_card" style="margin-top: 4px;">
        <p class="hexagram_number" style="margin: 20px 0 0 0;">Hexagram <span id="num">{{cardNumber+1}}</span> - <span class="">{{hexagramNames[cardNumber].toUpperCase()}}</span></p>
        <div class="hexagram">
          <!--<span @click.prevent="playAudio('hexagram');" class="audio_button"><img :src="soundIcon" width="35" height="35">Tap</span>--> 
          <div>        
            <p><img :src="outerTrigram(this.hexagrams[cardNumber])"></p>
            <p><img :src="innerTrigram(this.hexagrams[cardNumber])"></p>
          </div>
          <div v-if="lineNumber == 5 && showLine" class="cursor" style="margin-right: 10px; margin-top: -197px;">←</div>
          <div v-if="lineNumber == 4 && showLine" class="cursor" style="margin-right: 10px; margin-top: -160px;">←</div>
          <div v-if="lineNumber == 3 && showLine" class="cursor" style="margin-right: 10px; margin-top: -126px;">←</div>
          <div v-if="lineNumber == 2 && showLine" class="cursor" style="margin-right: 10px; margin-top: -91px;">←</div>
          <div v-if="lineNumber == 1 && showLine" class="cursor" style="margin-right: 10px; margin-top: -53px;">←</div>
          <div v-if="lineNumber == 0 && showLine" class="cursor" style="margin-right: 10px; margin-top: -23px;">←</div>
        </div>
      </div>
      <br>
      <div class="bottom_card">
        <div v-on:click="flipCard" class="flip">
          <p v-if="!showCard" class="instructions">Tap to Reveal Meaning</p>
          <p v-if="showCard" class="meaning">
            <ul v-if="!showLine" style="height: 100%; list-style: none;"><li v-for="meaning in meanings[cardNumber]" :key="meaning">{{ meaning }}</li></ul>
            <!--<span v-if="!showLine" @click="playAudio('meaning');" class="audio_button"><img :src="soundIcon" width="35" height="35">Tap</span> -->
            <span v-if="showLine" class="line-meaning">{{hexagram_line[cardNumber][lineNumber]}}</span>
            <span v-if="showLine" @click="playAudio('meaning');" class="audio_button"><img :src="soundIcon" width="35" height="35">Tap</span>
          </p>
        </div>
      </div>
      <br>
      <div style="text-align: center">
        <h2 @click.prevent="playAudio('select')" class="footer-button" style="border: 0.1mm solid #555; color: #555; background-color: #dcd1c3; border-radius: 10px; width: 30vw; display: inline-block; margin: 5px; padding: 8px 18px 6px 18px;" v-on:click="previousCard"><b>&lt;&lt;</b><div class="previous">Previous</div></h2>
        <h2 @click.prevent="playAudio('select')" class="footer-button" style="border: 0.1mm solid #555; color: #555; background-color: #dcd1c3; border-radius: 10px; width: 30vw; display: inline-block; margin: 5px; padding: 8px 18px 6px 18px;" v-on:click="consult = !consult; playAudio('consult');"><b>?</b><div class="consult">Consult</div><div>I-Ching</div></h2>
        <h2 @click.prevent="playAudio('select')" class="footer-button" style="border: 0.1mm solid #555; color: #555; background-color: #dcd1c3; border-radius: 10px; width: 30vw; display: inline-block; margin: 5px; padding: 8px 18px 6px 18px;" v-on:click="nextCard"><b>&gt;&gt;</b><div class="next">Next</div></h2>
      <!--<div style="text-align: center">
        <h2 @click.prevent="playAudio('select')" style="border: 0.1mm solid #555; color: #555; background-color: #dcd1c3; border-radius: 10px; width: 95%; display: inline-block; margin: 5px; padding: 8px 18px 4px 18px;" v-on:click="flipLine" v-if="!showLine"><span>Tap Here to Reveal Line Meaning</span></h2>
      </div> -->

      </div>
    </div>
    <transition name="fade">    
      <div class="container overlay shade" v-show="!consult">
        <header class="modal">
          <ul>
            <li class="sub-title">1. Relax</li>
            <li class="sub-title">2. Focus the mind</li>
            <li class="sub-title">3. Ask a question</li>
          </ul>
          <button v-on:click="drawCard(); consult = !consult; playAudio('reveal');" class="start-button">Reveal Answer</button>
        </header>
      </div>
    </transition>
    <transition name="fade">    
      <div class="container overlay" v-show="!pressStart">
        <div class="mural">
          <img :src="cycleNature" class="rotate">
        </div>
        <div style="width: 100%;">
        <header>
          <h1 class="title">I-Ching</h1>
          <h2 class="sub-title">Oracle Guide</h2>
          <button v-on:click="pressStart = !pressStart; playAudio('start');" class="start-button">Press Start</button>
        </header>
        </div>
      </div>
    </transition>

  </div>
</template>

<script>

export default {
  data() {
    return {
      consult: false,
      pressStart: false,
      logo: require('../assets/images/outer-heaven_logo.png'),
      logoWidth: 90,
      cycleNature: require('../assets/images/cycles_of_nature.png'),
      soundIcon: require('../assets/images/freepik_voice_right.png'),
      heavenTrigram: require('../assets/images/heaven.png'),
      earthTrigram: require('../assets/images/earth.png'),
      fireTrigram: require('../assets/images/fire.png'),
      waterTrigram: require('../assets/images/water.png'),
      mountainTrigram: require('../assets/images/mountain.png'),
      lakeTrigram: require('../assets/images/lake.png'),
      thunderTrigram: require('../assets/images/thunder.png'),
      windTrigram: require('../assets/images/wind.png'),
      cardNumber: 0,
      lineNumber: 0,
      showCard: false,
      showLine: false,
      hexagramNames: ['乾 qián', '坤 kūn', '屯 zhūn', '蒙 méng', '需 xū', '訟 sòng', '師 shī', '比 bǐ',
                       '小畜 xiǎo xù', '履 lǚ', '泰 tài', '否 pǐ', '同人 tóng rén', '大有 dà yǒu', '謙 qiān', '豫 yù',
                       '隨 suí', '蠱 gǔ', '臨 lín', '觀 guān', '噬嗑 shì kè', '賁 bì', '剝 bō', '復 fù',
                       '無妄 wú wàng', '大畜 dà xù', '頤 yí', '大過 dà guò', '坎 kǎn', '離 lí', '咸 xián', '恆 héng',
                       '遯 dùn', '大壯 dà zhuàng', '晉 jìn', '明夷 míng yí', '家人 jiā rén', '睽 kuí', '蹇 jiǎn', '解 xiè',
                       '損 sǔn', '益 yì', '夬 guài', '姤 gòu', '萃 cuì', '升 shēng', '困 kùn', '井 jǐng',
                       '革 gé', '鼎 dǐng', '震 zhèn', '艮 gèn', '漸 jiàn', '歸妹 guī mèi', '豐 fēng', '旅 lǚ',
                       '巽 xùn', '兌 duì', '渙 huàn', '節 jié', '中孚 zhōng fú', '小過 xiǎo guò', '既濟 jì jì', '未濟 wèi jì' ],
      hexagrams: ['䷀', '䷁', '䷂', '䷃', '䷄', '䷅', '䷆', '䷇',
                  '䷈', '䷉', '䷊', '䷋', '䷌', '䷍', '䷎', '䷏',
                  '䷐', '䷑', '䷒', '䷓', '䷔', '䷕', '䷖', '䷗',
                  '䷘', '䷙', '䷚', '䷛', '䷜', '䷝', '䷞', '䷟',
                  '䷠', '䷡', '䷢', '䷣', '䷤', '䷥', '䷦', '䷧',
                  '䷨', '䷩', '䷪', '䷫', '䷬', '䷭', '䷮', '䷯',
                  '䷰', '䷱', '䷲', '䷳', '䷴', '䷵', '䷶', '䷷',
                  '䷸', '䷹', '䷺', '䷻', '䷼', '䷽', '䷾', '䷿'],
      meanings: [['Positivity', 'The Creative Heaven', '- ','"Take the initiative to create and do not give up."'],['Receptiveness', 'Transmutation', '-', '"Receptiveness, like a mare following its mate, brings good results. It is beneficial for one of righteousness to pursue his goal. There may be confusion in the beginning, but one eventually finds the right way. (...) Being peaceful will enhance your receptivity and will bring good fortune [1]."', '-', '[1] Ni Hua Ching, I Ching: The Book of Changes and the Unchanging Truth. Los Angeles, CA: Seven Star Communications, 1983.'], ['Difficulty at the Start', '-', '"In difficulty, creativity and development are effective if correct. Do not use. There is a place to go. It is beneficial to set up a ruler[2]."', '-', '[2] Cleary, Thomas. The Taoist I ching. Boston, MA: Shambhala, 1986.'], ['Youthful Development', '-', '"Each one teach one, but the student must ask to be taught first."'], ['Waiting', 'Stagnation', 'Hesitation', '-', '"Stagnation. To overcome it, one needs faith, patience, and sincerity. Proceed with hope as if embarking on a new adventure [1]."'], ['Debate', '-', '"Contention: There is blockage of truth. Caution and moderation lead to good results, finality leads to bad results. It is beneficial to see a great person, not beneficial to cross a great river[2]."'], ['Follow the Leader', '-', '"If the correct leader is chosen, the right path will be clear."'], ['Fellowship', '-', '"Fellowship. Good fortune. Be cautious, content, and upright. The undecided will join and follow. The lofty will lose the opportunity and thus be isolated [1]."'],
                 ['Nurturance by the Small', '-', '"Nurturance by the small is developmental. Dense clouds do not rain, proceeding from one\'s own western province[2]."'], ['Beware of Tiger', '-', '"Stepping carefully in the presence of power will allow progress."'], ['Peace', 'Harmony', 'Good Opportunity', '-', '"Good opportunity.  In a time of prosperity something small is given and something large is returned. Little effort brings a big reward. Good fortune. Proceed [1]."'], ['Obstruction', '-', '"Obstruction\'s denial of humanity does not make the superiorperson\'s rectitude beneficial. The great goes and the small comes[2]."'], ['Community', '-', '"Fortune and success is found in teamwork."'],['Great Provider', 'Great Harvest', '-', '"Great provision. Great good fortune [1]."'],['Humility', '-', 'Humility is developmental. The superior person has a conclusion[2].'],['Cozy', '-', '"Feel free to expand from a place of stability."' ],
                 ['Compliance', 'Following', '-', '"Compliance. Everything should go smoothly if one is faithful to one\'s highest principles [1]."'], ['Degeneration', '-', '"Correcting degeneration is greatly developmental. It is beneficial to cross great rivers. Three days before the start, three days after the start[2]."'], ['Continue', '-', '"Step forward and follow the rhythm."'], ['Contemplation', 'Point of View', '-', '"Contemplation. After washing the hands and beginning the ceremony, with deep sincerity the officiant center the mind. The hearts and minds of all participants are drawn to this good example. Likewise, the way of the highly evolved inspires people to revere the divine order of the universe [1]."'], ['Biting Through', '-', '"Biting through is developmental. It is beneficial to administer justice[2]."' ], ['Glamour', '-', '"Focus given to self-cultivation will lead to grace and glory."'], ['Erosion', 'Decline', '-', '"Erosion. Now is not a good time to go anywhere [1]."'], ['Return', '-', '"Return is developmental. Exiting and entering , there is no ill. When a companion comes, there is no fault. Reversing the path, returning in seven days, it is beneficial to have a place to go[2]."'],
                 ['Let go', '-', '"Whatever happens, happens."'], ['Great Amassment', '-', '"Be firmly committed to your goal. This is not the time to keep to oneself, but to engage in adventure [1]."'], ['Lower Jaw (Nourishment)', '-', '"In nourishment, it is good to be correct. Observe nourishment, and seek fulfillment for the mouth by yourself[2]."'], ['Overflow', '-', '"Greatness is achieved but there is danger in exceeding limitations."'], ['The Abyss', '-', '"Confidence and mental stability are needed in times of difficulty. When the mind is no longer obstructed by external difficulties, the goal can be attained [1]."'], ['Radiance', '-', '"Bright and progressive. Cultivating the heart will be prosperous. Good fortune [1]."'], ['Charm', '-', '"Pure love pulls open hearts together. Seek marraige."'], ['Constancy', '-', '"Be constant: it is right. Now is the time to be perservering and undertake something [1]."'],
                 ['Withdrawal', '-', '"Withdrawal is development. The small is beneficial and correct[2]."'],['Colossal Force', '-', '"Force is beneficial when used appropriately."'],['Progress', '-', '"Go ahead to reach for prosperity, victory, and honor [1]."'],['Concealment of Illumination', '-', '"In concealment of illumination, it is beneficial to be upright in difficulty[2]."'],['Tribe', '-', '"The tribe. A wise woman is beneficial."'],['Opposition', 'Disharmony', '-', '"Opposition. Only small things can be achieved [1]."'],['Halting', '-', '"When halted, the southwest is beneficial, not the northeast. It is profitable to see a great person; innocence is auspicious[2]."'],['Breakthrough', '-', '"Move swiftly to your destination. Otherwise, it\'s best to find prosperity back from where you came from."'],
                 ['Sacrifice', '-', '"Reduce that which is excessive. Great good fortune without doubt. Go ahead with the great task. If one is sincere, one\'s simple offering will be blessed by the Divine Realm [1]."'],['Increase', '-', '"For increase, it is beneficial to go somewhere; it is beneficial to cross great rivers[2]."'],['Guts', '-', '"Have the guts to expose painful truths to those willing to listen."'],['Encounter', 'Meeting Together', '-', '"Encounter. It is like an overly strong woman who has difficulty in being a good wife. Do no marry such a woman [1]."'],['Gathering', '-', '"Gathering is developmental. The king comes to have a shrine. It is beneficial to see a great person; this is developmental. It is beneficial to be correct. It is good to make a great sacrifice. It is beneficial to go somewhere[2]."'],['Sprout', '-', '"Seek out mentorship on your path to success."'],['Besieged', 'Entrapped', 'Exhausted', '-', '"Entrapment. This is a time to keep to oneself. A great person nourishes his personality to alter his future. No blame, though now his words are not trusted [1]."'],['The Well', '-', '"The well: Changing the village, not changing the well; no loss, no gain. Those who come and go use the well as a well. If the rope does not reach all the way into the well, or if the bucket breaks, that is unfortunate[2]."'],
                 ['Transmutation', '-', '"Refine the self. Life will change."'],['Cauldron', 'Harmonization & Stability', '-', '"The cauldron is stable and well-balanced. Good fortune. Everything goes smoothly [1]."'],['Thunder', '-', '"Thunder is developmental. When thunder comes, there is alarm, then laughter. Thunder startles for a hundred miles, but one does not lose spoon and wine[2]."'], ['Balance in Stillness', '-', '"Focus on maintainining your own center of gravity."'],['Gradualness', '-', '"Be gradual like a woman planning to marry. Good fortune comes by firmly keeping to the right way [1]."'],['Making a Young Girl Marry', '-', '"Making a young girl marry: To go on will lead to misfortune; no profit is gained[2]."'],['Over-Abundance', '-', '"Slightly more than enough wealth is attained. Use this abundance wisely in order to maintain centeredness."'],['Traveling', '-', '"Traveling. On a journey, only minor under-takings go well [1]."'],
                 ['Wind', '-', '"Wind is small but developmental. It is beneficial to have somewhere to go. It is beneficial to see a great person[2]."'], ['Enjoyment', '-', '"Prosperity. Share your love to the world."'],['Self-Restraint', '-', '"Self-restraint helps one to progress. Anything overdone cannot last long [1]."'],['Discipline', '-', '"Discipline is developmental, but painful discipline is not to be held to[2]."'], ['Return to Center', '-', '"Have faith in your self and avoid extremes."'], ['Minor Excess', '-', '"Minor excesses cause trouble. It is not safe for the bird to fly high; it should stay low. Once should not attempt large undertakings at this time[1]."'], ['Settled', '-', '"Settlement is developmental, but it is minimized. It is beneficial to be correct. The beginning is auspicious, the end confused[2]."'], ['Not Done Yet', '-', '"Almost done but take all the time necessary to prepare for the end."']],
      hexagrams_audio: ['hexagram_01.mp3', 'hexagram_02.mp3', 'hexagram_03.mp3', 'hexagram_04.mp3', 'hexagram_05.mp3', 'hexagram_06.mp3', 'hexagram_07.mp3', 'hexagram_08.mp3',
                        'hexagram_09.mp3', 'hexagram_10.mp3', 'hexagram_11.mp3', 'hexagram_12.mp3', 'hexagram_13.mp3', 'hexagram_14.mp3', 'hexagram_15.mp3', 'hexagram_16.mp3',
                        'hexagram_17.mp3', 'hexagram_18.mp3', 'hexagram_19.mp3', 'hexagram_20.mp3', 'hexagram_21.mp3', 'hexagram_22.mp3', 'hexagram_23.mp3', 'hexagram_24.mp3',
                        'hexagram_25.mp3', 'hexagram_26.mp3', 'hexagram_27.mp3', 'hexagram_28.mp3', 'hexagram_29.mp3', 'hexagram_30.mp3', 'hexagram_31.mp3', 'hexagram_32.mp3',
                        'hexagram_33.mp3', 'hexagram_34.mp3', 'hexagram_35.mp3', 'hexagram_36.mp3', 'hexagram_37.mp3', 'hexagram_38.mp3', 'hexagram_39.mp3', 'hexagram_40.mp3',
                        'hexagram_41.mp3', 'hexagram_42.mp3', 'hexagram_43.mp3', 'hexagram_44.mp3', 'hexagram_45.mp3', 'hexagram_46.mp3', 'hexagram_47.mp3', 'hexagram_48.mp3',
                        'hexagram_49.mp3', 'hexagram_50.mp3', 'hexagram_51.mp3', 'hexagram_52.mp3', 'hexagram_53.mp3', 'hexagram_54.mp3', 'hexagram_55.mp3', 'hexagram_56.mp3',
                        'hexagram_57.mp3', 'hexagram_58.mp3', 'hexagram_59.mp3', 'hexagram_60.mp3', 'hexagram_61.mp3', 'hexagram_62.mp3', 'hexagram_63.mp3', 'hexagram_64.mp3'],
      meanings_audio: ['meaning_01.mp3', 'meaning_02.mp3', 'meaning_03.mp3', 'meaning_04.mp3', 'meaning_05.mp3', 'meaning_06.mp3', 'meaning_07.mp3', 'meaning_08.mp3',
                        'meaning_09.mp3', 'meaning_10.mp3', 'meaning_11.mp3', 'meaning_12.mp3', 'meaning_13.mp3', 'meaning_14.mp3', 'meaning_15.mp3', 'meaning_16.mp3',
                        'meaning_17.mp3', 'meaning_18.mp3', 'meaning_19.mp3', 'meaning_20.mp3', 'meaning_21.mp3', 'meaning_22.mp3', 'meaning_23.mp3', 'meaning_24.mp3',
                        'meaning_25.mp3', 'meaning_26.mp3', 'meaning_27.mp3', 'meaning_28.mp3', 'meaning_29.mp3', 'meaning_30.mp3', 'meaning_31.mp3', 'meaning_32.mp3',
                        'meaning_33.mp3', 'meaning_34.mp3', 'meaning_35.mp3', 'meaning_36.mp3', 'meaning_37.mp3', 'meaning_38.mp3', 'meaning_39.mp3', 'meaning_40.mp3',
                        'meaning_41.mp3', 'meaning_42.mp3', 'meaning_43.mp3', 'meaning_44.mp3', 'meaning_45.mp3', 'meaning_46.mp3', 'meaning_47.mp3', 'meaning_48.mp3',
                        'meaning_49.mp3', 'meaning_50.mp3', 'meaning_51.mp3', 'meaning_52.mp3', 'meaning_53.mp3', 'meaning_54.mp3', 'meaning_55.mp3', 'meaning_56.mp3',
                        'meaning_57.mp3', 'meaning_58.mp3', 'meaning_59.mp3', 'meaning_60.mp3', 'meaning_61.mp3', 'meaning_62.mp3', 'meaning_63.mp3', 'meaning_64.mp3'],
      hexagram_line: [['LINE 1: "When the potency of a dragon has not yet emerged, it is not time to try to use it[1]."', 'LINE 2: "The powerful dragon appears on a vast field. It is time to meet the Great One[1]."', 'LINE 3: "The dragon is cautious and uses its power wisely. One of self-awareness cultivates in the daytime and is alert at night. This is difficult but correct[1]."', 'LINE 4: "The dragon jumps into the water and disappears. No fault[1]."', 'LINE 5: "The dragon flies in the sky. It is the right time for the Great One to make full use of his energy and presence[1]."', 'LINE 6: "The dragon extends too far. Extremes bring remorse[1]."'], 
                      ['LINE 1: "When walking on frost, be careful; ice is surely ahead. One should be circumspect in the beginning[1]."', 'LINE 2: "By being upright and natural, things naturally go well[1]."', 'LINE 3: "Being humble is beneficial. Work for the public good. Proceed with care[1]."', 'LINE 4: "Be self-contained. No fame, no fault[1]."', 'LINE 5: "Great good fortune will be brought forth by being correctly centered, like yellow light among all the colors of the spectrum[1]."', 'LINE 6: "Dragons fight in the wilderness. Their blood blends together[1]."'],
                      ['LINE 1: "He lingers for a while. It is suitable to stay and settle down[1]."', 'LINE 2: "Difficulty in proceeding, like riding a horse and moving unsteadily on the way. The man is not accepted and is thought to be an invader. After many years have passed, an understanding is reached and the virtuous woman accepts his advances[1]."', 'LINE 3: "Hunting without a guide, one is certain to be lost in the forest. One of balanced virtue would give up rather than follow his desire for adventure[1]."', 'LINE 4: "One rides a horse hesitantly on the way to propose marraige. Go ahead; nothing will go against you. Good fortune is awaiting[1]."', 'LINE 5: "Energy is impeded. One cannot achieve great things, only small things[1]."', 'LINE 6: "Riding on a stumbling horse, blood and tears flow. This cannot continue[1]."'],
                      ['LINE 1: "When enlightening the undeveloped, restraint and discipline should be applied. If the underdeveloped are left unregulated, there will be trouble later on[1]."', 'LINE 2: "Having tolerance toward the undeveloped brings good fortune. This simple virtue also applies to family life. If one\'s child knows this, he will become a responsible person[1]."', 'LINE 3: "Do not marry a woman who only seeks a wealthy man. There is no benefit in this marraige[1]."', 'LINE 4: "Stubborn and ignorant, one is helpless[1]."', 'LINE 5: "Enlightening the undeveloped and innocent. Good fortune[1]."', 'LINE 6: "Punishing the undeveloped is a good, protective measure. Thus, the pupil will not be tempted to repeat the same mistakes[1]."'],
                      ['LINE 1: "Waiting in the countryside. If one is patient, there is no problem[1]."', 'LINE 2: "Hesitating in the sand. A little difficulty, but the final outcome is hopeful."', 'LINE 3: "Hesitating in the swamp creates an opportunity for robbers to attack. Be cautious [1]."', 'LINE 4: "Hesitating in blood. Follow the strong one out of the danger[1]."', 'LINE 5: "Waiting with wine and food, stay centered. Good fortune[1]."', 'LINE 6: "Finally, one enters the abyss. Three unexpected guests arrive. Be nice to them because they bring good fortune[1]."'],
                      ['LINE 1: "Do not continue a small dispute. Thing will eventually turn out right[1]."', 'LINE 2: "He recognizes that he cannot win the dispute and retreats. Thus, he creates no suffering for himself or his people[1]."', 'LINE 3: "One is satisfied with what one already has. Although there is some difficulty, things will turn out right in the end[1]."', 'LINE 4: "It is not proper to take advantage of a high position to win a dispute. Discontinue the dispute. Peace brings good fortune[1]."', 'LINE 5: "It is appropriate to correct the dispute. Good fortune belongs to the one of true righteousness[1]."', 'LINE 6: "Receiving honors by winning disputes is certainly no great accomplishment. Such superficial honors will surely be taken away, time after time[1]."'],
                      ['LINE 1: "Strict discipline is needed from the beginning or there will be great misfortune[1]."', 'LINE 2: "Correctly balanced, one is assigned to be the general. The king empowers him. Good fortune. No problem[1]."', 'LINE 3: "The army will be defeated. Misfortune[1]."', 'LINE 4: "The army retreats. No blame. Such actions do not contradict principles of good military strategy[1]."', 'LINE 5: ""Like birds who have come to eat your seeds, invaders are all over the field. This is the right time to resort to military action. No blame. However, if one who is young and inexperienced is sent to lead the army, defeat and loss of life will result. Possible misfortune[1].', 'LINE 6: "When the war is finished, there should be just rewards. The deserving should be given high positions in order to care for the nation. Those who are inferior should be rewarded with material goods but never trusted with high positions[1]."'], 
                      ['LINE 1: "Be as faithful as a full jug in making friends. Unexpected good fortune will come to you[1]."', 'LINE 2: "Make friends out of the innermost sincerity. Perseverance brings good fortune[1]."', 'LINE 3: "Fellowship with the wrong person[1]."', 'LINE 4: "Extend fellowship to good people. Perseverance brings good fortune[1]."', 'LINE 5: "Glorious fellowship. The kind ruler leads the hunt, taking only the prey that runs in his direction. He does not go after those that run away[1]."', 'LINE 6: "No fellowship can be made. Misfortune[1]."'],
                      ['LINE 1: "Return to the original path. No blame[1]."', 'LINE 2: "Together, return to the original, right path. Good fortune[1]."', 'LINE 3: "The wheel falls off the wagon. Husband and wife quarrel[1]."', 'LINE 4: "Be confident. Wipe away the blood and avoid the danger. No more trouble[1]."', 'LINE 5: "Be careful and cooperate with neighbors in order to successfully collect and distribute wealth[1]."', 'LINE 6: "The rain has come! One\'s kindness benefits all people. The woman\'s power becomes dominant like the full moon. Exercise self-restraint. If one wishes to do something independently, problems will arise[1]."'],
                      ['LINE 1: "Conduct yourself in accordance with your true, plain, natural being. No blame[1]."', 'LINE 2: "Conduct yourself in accordance with your true, plain, natural being. No blame[1]."', 'LINE 3: "With poor vision and poor movement one treads on the tail of a tiger. Danger. The arrogant soldier offends the king by being too rigid[1]."', 'LINE 4: "With hesitation and prudence one approaches the tail of the tiger. Be careful of offensive, challenging behavior. Eventually, one is successful in accomplishing the task[1]."', 'LINE 5: "Resolute conduct. It is difficult but proper[1]."', 'LINE 6: "Check the results of your conduct and make corrections. Great good fortune. You will celebrate your high achievement[1]."'],
                      ['LINE 1: "When pulling couch grass, many pieces are pulled up together because their roots are interconnected. Now is the time to undertake something. One finds correspondence from more than one person[1]."', 'LINE 2: "Harmonizing all opposites with great courage is like crossing a river. Do not neglect the good elements that are distant. Egolessly refuse the influence of the bad elements that are close by. In this way, a balanced path can be manipulated and great achievement can be accomplished[1]."', 'LINE 3: "No plateau is without a slope and no forward movement is without a turning back. One needs to maintain one\'s goal without being discouraged by difficulties. Have no worries and be faithful; thus enjoyment and blessings follow."', 'LINE 5: "One connects oneself with the lower. Great blessing.[1]"', 'LINE 6: "The protection is weakened. The defending wall of the city falls. There is not yet a need for the army; however, the people must stay alert in order to prevent trouble from happening[1]."'],
                      ['LINE 1: "In times of adversity, evil beings congregate in large numbers. If one pulls a single blade of couch grass, one get the entire bunch because the roots are interconnected. This is a time to remain calm and upright[1]."', 'LINE 2: "In times of adversity, it is all right for ordinary people to be obedient. But one of self-cultivation should not compromise with the evil majority[1]."', 'LINE 3: "In times of adversity, one is humiliated by inferior influences. This is incorrect[1]."', 'LINE 4: "In times of adversity, those who have faith in a virtuous deliverance will receive blessing[1]."', 'LINE 5: "At the end of adversity, stay alert! A great one will plant his root deeply and firmly[1]."', 'LINE 6: "After reaching its extreme, adversity is followed by felicity[1]."'],
                      ['LINE 1: "Being united with people outside your door; no blame[1]."', 'LINE 2: "Being united only with members of one\'s clan, one cannot achieve a big goal[1]."', 'LINE 3: "Being united with rebels who hide in a mountain wilderness. For three years, one dares not begin a big undertaking because he is already overly ambitious[1]."', 'LINE 4: "One attack the strong city wall. If he becomes aware of his impropriety and corrects his actions, good fortune will result[1]."', 'LINE 5: "A great meeting. In the beginning strong emotions are expressed. But, at last, obstacles are overcome. Laughter is expressed and all rejoice[1]."', 'LINE 6: "To be united with people in a rural place. Neither trouble nor any big achievement can be expected[1]."'],
                      ['LINE 1: "Because one is isolated, one has some minor difficulties but invites no real trouble from the outside world[1]."', 'LINE 2: "Proceed with a big carriage. No problem."', 'LINE 3: "An important public undertaking can be beneficial. A small personal matter should not be undertaken because it will cause trouble.[1]"', 'LINE 4: "If one does not over-expand, there will be no problem[1]."', 'LINE 5: "Being receptive and sincere while maintaining power brings good fortune[1]."', 'LINE 6: "Heavenly blessing. Good fortune. No problem.[1]"'], 
                      ['LINE 1: "The egoless one who crosses the great water and engages in adventures obtains good fortune[1]."', 'LINE 2: "Expressing oneself without ego. By keeping to this practice, one has good fortune[1]."', 'LINE 3: "Be egoless and take the hard jobs. Those who are dedicated succeed in life[1]."', 'LINE 4: "If one remains selfless, there is nothing unbeneficial in this position[1]."', 'LINE 5: "Do not depend on personal wealth or strength. Instead, be a source of help in correcting disorders. Everything is beneficial[1]."', 'LINE 6: "He uses modesty instead of aggression with outsiders to correct the confusion within his territory[1]."'],
                      ['LINE 1: "One is greatly pleased with his achievements. Danger[1]."', 'LINE 2: "One is as solid as a rock and unshaken by the comforts of life. Good fortune[1]."', 'LINE 3: "Out of envy for the powerful, one resorts to flattery trying to please him. Such actions must be corrected without delay; otherwise, there will be remorse[1]."', 'LINE 4: "Being a source of comfort and harmony, one attains greatness. Without suspicion, friends form a fellowship[1]."', 'LINE 5: "One has an illness but does not die. Over-indulgence is like an incurable disease; however, with effort, clear-mindedness and self-respect, it can be overcome[1]."', 'LINE 6: "Enjoyment based on self-delusion cannot last long. However, there is hope if one corrects oneself[1]."'],
                      ['LINE 1: "Going out the door and making friends with highly-achieved individuals without losing one\'s virtue brings success[1]."', 'LINE 2: "One who stays with what is small loses the opportunity to connect with what is great. In this case, you have a clear choice[1]."', 'LINE 3: "Compliance with the great overcomes the attraction of the small. This choice brings positive results. One should be firm with one\'s decision[1]."', 'LINE 4: "The follower attempts to surpass his leader. Even though this line may be correct, there will be trouble if it insists on its own way. Thus, it should remain in compliance with the leader. The clouds of suspicion will eventually disperse and brightness will reappear[1]."', 'LINE 5: "Being faithful to what is good brings good fortune[1]."', 'LINE 6: "The wise one is bound with an assignment at the holy mountain. He offers the highest compliance to the Heavenly will[1]."'],
                      ['LINE 1: "To correct the father\'s corruption, the son is called upon to help. No blame. Though there is some difficulty at first, good results will be brought forth eventually[1]."', 'LINE 2: "When correcting the mother\'s corruption, beware of being too rigid and stop before going too far[1]."', 'LINE 3: " Correcting the father\'s corruption with too much strength will result in some remorse; however, no big problem will arise[1]."', 'LINE 4: "Increasing the father\'s corruption. With an indecisive attitude, one cannot rectify the situation. Humiliation[1]."', 'LINE 5: "Correcting the father\'s corruption, one enjoys high honors and continues the positive aspect of the father\'s creation[1]."', 'LINE 6: "He does not wish to serve nobility, but withdraws in order to cultivate his own virtue[1]."'],
                      ['LINE 1: "Advance empartially. One should start in this manner and continue in this direction. Good fortune[1]."', 'LINE 2: "Impartial advance without prejudice continues. Everything is profitable. Good fortune[1]."', 'LINE 3: "Easy advancement. If one abuses one\'s position, there will be trouble in the long run. If this tendency is corrected immediately, there will be no blame[1]."', 'LINE 4: "Correct advancement. No fault[1]."', 'LINE 5: "Wise advancement. This is how the great should proceed. Good fortune[1]."', 'LINE 6: "Sincere advancing. Good fortune. No blame[1]."'],
                      ['LINE 1: "A child\'s vision. Though not a problem for the undeveloped, it can be disastrous for a developed individual[1]."', 'LINE 2: "Vision from behind a screen, like a young girl who hides behind a screen and timidly peeps out. This does not deserve encouragement[1]."', 'LINE 3: "With the broad vision obtained by contemplating one\'s life, one can decide whether to go forward or to withdraw[1]."', 'LINE 4: "It furthers one to go forward to see the country and to be the honored guest of the king[1]."', 'LINE 5: "Reflecting on one\'s way of life, the great one knows how people are positively influenced[1]."', 'LINE 6: "With prudence, one contemplates one\'s life[1]."'],
                      ['LINE 1: "The toes disappear when fetters are put upon the feet. No movement is possible[1]."', 'LINE 2: "One bites so deeply into the flesh that the nose disappears[1]."', 'LINE 3: "One bites through preserved meat and encounters poison. There is a little trouble, but things will be all right[1]."', 'LINE 4: "One bites on a bone with little meat and finds a metal arrow. Although this is certainly a difficult task, to face the challenge will bring good fortune[1]."', 'LINE 5: "Biting dry meat, one finds gold. When one deals with problems in a balanced way, there is no fault[1]."', 'LINE 6: "The ears also have shackles on them. One no longer hears good advice[1]."'],
                      ['LINE 1: "Strengthening one\'s toes, one does not use a decorated carriage, but instead goes by foot[1]."', 'LINE 2: "Beautifying his mustache, he is momentarily cheered up[1]."', 'LINE 3: "Continuously beautifying and refreshing oneself can bring good fortune unless one\'s virtue is covered by adornments[1]."', 'LINE 4: "With white hair and a white horse, he comes to court the lady. He is suspect in the beginning, but is accepted later[1]."', 'LINE 5: "A small garden, a modest house on a hill and a simple gift taken to a wise one. These are the things on which a happy and lasting relationship are based[1]."', 'LINE 6: "Decoration is not needed when one is plain and simple. Thus, there is no blame[1]."'],
                      ['LINE 1: "Erosion at the legs of the bed. Some danger[1]."', 'LINE 2: "Erosion at the upper part of the bed\'s legs. Danger[1]."', 'LINE 3: "He is the only good one during times of erosion[1]."', 'LINE 4: "Erosion has developed close to the skin of one who sleeps on the bed. Disaster is near[1]."', 'LINE 5: "A group of maids, like a school of fish, is guided to the palace. There is no friction[1]."', 'LINE 6: "Only one fruit remains on the tree. If there is one of great virtue in this position, he will acquire a wagon by accepting support from others. An ordinary person will lose his house by accepting the erosive influence[1]."'], 
                      ['LINE 1: "Renewal. If one does not stray too far, return to the right path will be easy and without remorse. Good fortune. One should practice self-cultivation[1]."', 'LINE 2: "Easy restoration. Good fortune[1]."', 'LINE 3: "Repeating mistakes, one is unable to maintain normalcy. Not good, but also no great problem[1]."', 'LINE 4: "Independently, follow the right way[1]."', 'LINE 5: "Sincerely return to the right path. No remorse with self-reflection[1]."', 'LINE 6: "Fatally losing oneself, there is no return to the right path. One is dangerously heading toward disaster. If one insists on using the army, one will be defeated, and it will take ten years to recover the losses[1]."'], 
                      ['LINE 1: "Guilenessness brings good fortune[1]."', 'LINE 2: "There can be no harvest where one has not been tilling and weeding. It is profitable to go ahead only if there is no scheming[1]."', 'LINE 3: "Unexpected trouble. Someone keeps an ox in another\'s village and a traveler takes it away. It then becomes trouble for the villagers[1]."', 'LINE 4: "Having no guile incurs no fault[1]."', 'LINE 5: "Unexpected sickness. No medicine is needed. Happiness eventually comes[1]."', 'LINE 6: "Be still. Any action you take will result in disaster. No profit[1]."'],
                      ['LINE 1: "There is difficulty if one goes forward; first be peaceful with oneself[1]."', 'LINE 2: "The wagon goes smoothly if proper balance is maintained[1]."', 'LINE 3: "After training the horse well, you may cautiously pursue your goal[1]."', 'LINE 4: "Putting a headboard on young bulls bring good results[1]."', 'LINE 5: "The tusks of a castrated boar are tamed. The herd is under control. Good fortune[1]."', 'LINE 6: "Attaining greatness; Heavenly blessing.[1]."'],
                      ['LINE 1: "One gives away that which sustains one\'s good life by admiring what others enjoy[1]."', 'LINE 2: "One neglects the constancy and stability which can benefit life and seeks nourishment from the wrong source. Misfortune[1]."', 'LINE 3: "The wrong kind of nourishment. This kind of nourishment may look good for ten years, but in the end has no real benefit. Misfortune[1]."', 'LINE 4: "One desirous of good nutrition, like a hungry tiger, bears no blame for his good desires[1]."', 'LINE 5: "One relies on nutrition that has already been obtained; thus, one does not need to become more ambitious and aggressive[1]."', 'LINE 6: "One becomes the source of nourishment. Though there may be some difficulties along the way, one can accomplish greatness by marching forward[1]."'],
                      ['LINE 1: "It is like soft white couch grass suppressed beneath a weight. Because of its elasticity, it has no trouble taking difficulty and hardship[1]."', 'LINE 2: "The withered weeping willow grows new branches. An old man marries a young girl. Everything is profitable[1]."', 'LINE 3: "The ridgepole of the house is broken. Danger. Nothing can help it[1]."', 'LINE 4: "This line is like the single purpose of a ridgepole; it supplies strength. There should be no other purpose. Good fortune[1]."', 'LINE 5: "The withered weeping willow is in bloom. An old woman marries a young man. Although they are neither blamed nor praised, the relationship does not last too long[1]."', 'One\'s head disappears in crossing the water. Danger. There is no great blame for this[1]."'],
                      ['LINE 1: "Facing doubled obstruction, one is entrapped. Misfortune[1].', 'LINE 2: "Through calmness and clarity, one will gradually overcome difficulty[1]."', 'LINE 3: "Going further will cause danger and difficulties. Do not proceed[1]."', 'LINE 4: "Though small, a sincere offering will be blessed with peace and safety."', 'LINE 5: "If water does not overflow, it reaches its own level; no fault."', 'LINE 6: "Bound tightly and placed in thorns, one is never pardoned and thus not freed. Misfortune[1]."'],
                      ['LINE 1: "Prosperous beginning with some disorder. Be cautious. No blame[1]."', 'LINE 2: "Warm, beautiful yellow light; very good fortune[1]!"', 'LINE 3: "The sun passes midday. Make good use of this time and be happy; otherwise, it will be too late to establish a good life. Possible misfortune[1]."', 'LINE 4: "It comes suddenly, burns brightly and is quickly consumed[1]."', 'LINE 5: "He who feels truly sorry for being overly indulgent with luxuries will be able to regulate and correct his vanities. This is accomplished by feeling sympathy for those less fortunate. Good fortune[1]."', 'LINE 6: "Now the king engages in conquering the rebels. He subdues the chief and punishes him. No blame[1]."'],
                      ['LINE 1: "Attraction begins at the toes."', 'LINE 2: "Attraction reaches the calf; disturbing. Now is the time to remain calm[1]."', 'LINE 3: "Attraction reaches the thigh. One who is too anxious and responds quickly meets trouble[1]."', 'LINE 4: "Attraction reaches the heart. A correct response occurs and remorse disappears[1]."', 'LINE 5: "Attraction reaches the upper back. Neither response nor trouble[1]b."', 'LINE 6: "Attraction reaches the mouth. Conversation is brought about[1]."'], 
                      ['LINE 1: "Beginning things too quickly and precipitously is not a normal approach. No benefit; trouble results[1]."', 'LINE 2: "Be to the point. No remorse[1]."', 'LINE 3: "One cannot maintain constancy. This can cause many problems. Continuing to be inconstant results in loss[1]."', 'LINE 4: "There is no prey in the field. One\'s constancy is wasted[1]."', 'LINE 5: "Persevering in being submissively virtuous is beneficial for followers, not for leaders[1]."', 'LINE 6: "Losing one\'s constancy, nothing can be achieved[1]."'],
                      ['LINE 1: "One must not wait until the last minute, the \'tail\' of time. When the danger has already presented itself, it is too late to diminish it or to escape. Going forward brings misfortune[1]."', 'LINE 2: "By being firm within, you can indirectly fight contention and entanglement[1]."', 'LINE 3: "Stay away from evil forces. Going forward is dangerous at this time. However, turning back to private life to enjoy personal relationships brings good times[1]."', 'LINE 4: " in order to preserve one\'s purity is right for a developed being but is difficult for the undeveloped[1]."', 'LINE 5: "Correct retreat. Good fortune[1]."', 'LINE 6: "Comfortable escape. There is enough time and space in which to escape safely[1]."'],
                      ['LINE 1: "Too much strength in the toes. The beginning stage makes moving ahead difficult. Such strength will surely lead to misfortune[1]."', 'LINE 2: "Caution in using strength brings good fortune[1]."', 'LINE 3: "Those of self-development do not display their strength. Inferior people willingly show their strength and thus create a dangerous environment. Such a display of strength is like a goat attaching a fence. Because of its stubborn persistence, its horns become weakened[1]."', 'LINE 4: "Continue marching in the right direction. All obstructions will disperse. Use strength correctly, in the proper place and at the right time[1]."', 'LINE 5: "One subdues oneself in order to end all confrontations. No remorse[1]."', 'LINE 6: "The stubborn goat attacks the fence, but can neither achieve its goal nor retreat. No benefit. If one learns through one\'s difficulties, trouble will not last and there will be good fortune[1]."'], 
                      ['LINE 1: "Move forward with strong intentions; however, maintain the right path. If the correct response cannot be made, there is still an opportunity for achievement. Do not be bothered if progress cannot be seen at the beginning."', 'LINE 2: "Progress that meets with difficulty brings worry. Keep to the right path. By remaining upright, one will be blessed by the Divine Mother[1]."', 'LINE 3: "All give their agreement; thus go ahead[1]."', 'LINE 4: "Being greedy with progress is dangerous. Surely, a big rat cannot hold a tiger\'s position[1]."', 'LINE 5: "In making progress, one should not worry about gain or loss. Go forward. A happy celebration awaits you[1]."', 'LINE 6: "If one persistently matches forward, one will encounter danger and confinement, like pushing oneself into the sharp tip of a horn. If one is disciplined and regulates one\'s actions, there will be good fortune. This is not the time to move ahead[1]."'],
                      ['LINE 1: "On a journey, the wise one does not stay where people create trouble for him. Even though there may be food or shelter, he moves on[1]."', 'LINE 2: "As the result of darkness, one moves with difficulty, as if one\'s leg were hurt. However, a fast horse can carry one to safety while it is still twilight, before darkness completely surrounds one. Otherwise, time will run out[2]."', 'LINE 3: "The darkness can be overcome and its ring leader captured. Such a move should not be hasty, but instead should be an expression of righteousness[1]."', 'LINE 4: "At the entrance of darkness, one can presere peace of mind only by departing at the right moment[1]."', 'LINE 5: "In the middle of darkness, one can only adapt to the situation, but without giving up on one\'s inner light[1]."', 'LINE 6: "In the beginning, there is brightness. In the end, darkness swallows all things[1]."'],
                      ['LINE 1: "Family life offers protection. Harmony and discipline among family members must be adhered to. Then there will be no reason for remorse[1]."', 'LINE 2: "Without asserting herself, the female supplies food for the family. Correct actions bring good fortune[1]."', 'LINE 3: "Appropriate discipline should be used. The correct balance brings good results[1]."', 'LINE 4: "Being dutiful enriches the family. Great good fortune[1]."', 'LINE 5: "The head of the family can enjoy his family life. Good fortune[1]."', 'LINE 6: "Faithfulness brings order and union to a family. The fulfillment of duty brings good fortune[1]."'],
                      ['LINE 1: "Since there is no communication, there is no opposition. Do not pursue a lost horse. It will return by itself. Meeting perverse, troublesome people causes no problem if the connection is only superficial[1]."', 'LINE 2: "Good communication can be achieved between a superior and a subordinate in reversed positions[1]."', 'LINE 3: "Action is curbed and movement is restrained when one confronts strength with strength. Adjusting to the situation brings a good ending[1]."', 'LINE 4: "Opposition is caused by isolation and separation. If one is sincere and has no bad intentions, harmony can be attained[1]."', 'LINE 5: "Opposition disappears. Close relationships are achieved among all people[1]."', 'LINE 6: "Iso lation is caused by suspicion. Hostility is expressed toward those who come to make peace. Only when suspicion is dissolved is a good relationship possible[1]."'],
                      ['LINE 1: "If one moves forward, obstruction will be encountered. Honorable growth naturally comes to the one who keeps still[1]."', 'LINE 2: "When one serves as a selfless minister who tackles all obstructions, one\'s strong sense of duty is correct. Any misunderstanding must finally disappear[1]."', 'LINE 3: "Going, one meets with obstruction. Returning, one meets with a warm reception[1]."', 'LINE 4: "Going, one meets with obstruction. Remaining, one receives help and cooperation."', 'LINE 5: "During the time of great obstruction, friends all come to help[1]."', 'LINE 6: "Going, one meets with obstruction. Returning, one joins the talents of others in assisting the great leader to break through obstructions[1]."'],
                      ['LINE 1: "Keep to what is right and in accordance with the time and circumstance. No blame[1]."', 'LINE 2: "Three foxes are captured with one arrow. Good fortune is brought about by correct action[1]."', 'LINE 3: "A greedy undertaking brings humiliation[1]."', 'LINE 4: "When truly helpful strength is attracted, the obstruction can be dissolved[1]."', 'LINE 5: "Dissolution is brought about by the virtuous one. His faithfulness makes the negative forces recede[1]."', 'LINE 6: "Standing on a high wall, the prince shoots the eagle. No remorse. Disorder and confusion dissolve[1]."'],
                      ['LINE 1: "Give friendly help. Correctly sacrifice yourself in order to benefit others and there will be no problem[1]."', 'LINE 2: "Stay with what is right. Movement should not be attempted at this time[1]."', 'LINE 3: "When three people walk together, their group is reduced by one. A person traveling alone acquires a friend. Likewise, a single purpose will attract friendly help. Too many direction will lose help[1]."', 'LINE 4: "One decreases the seriousness of his disease with a friend\'s help. Rapid recovery brings happiness[1]."', 'LINE 5: "Be receptive to all benefits that come to you. This is certainly good fortune blessed by Heaven[1]."', 'LINE 6: "With sufficient strength, no increase is needed. Maintaining a righteous balance brings good fortune. This is the right time to do something that will help people and to accept an assistant who is without a family[1]."'],
                      ['LINE 1: "Undertaking a great task is suitable at this time. Great good fortune[1]."', 'LINE 2: "Accept the great benefit. Good fortune results in following what is correct. One offers one\'s virtue to the Divine One and constantly receives good fortune. Benefits also come from without but are not the result of one\'s actions[1]."', 'LINE 3: "One is benefited by hardship. When one keeps to the right path, there is no blame. At this time, public trust needs to be earned and established[1]."', 'LINE 4: "By keeping to the right path, one receives consent and obedience from the public; thus, one leads all people toward the right place[1]."', 'LINE 5: "If one has a heart that seeks to benefit others, there will be good fortune. One\'s virtue will be expressed and benefited. This benefit is the result of one\'s own accomplishments[1]."', 'LINE 6: "Remain firm in your decision to benefit others. Trouble is created when one stops giving and begins taking[1]."'],
                      ['LINE 1: "Strength is expressed by the toes. Even pushing ahead cannot solve the difficulty. Premature resolution brings humiliation[1]."', 'LINE 2: "Strength is expressed by shouting. It is necessary to keep guard, even in the deep night,  in order to protect oneself from a surprise attack[1]."', 'LINE 3: "Hostility is expressed by the cheeks. One excites his enemies. Danger. Like a defiant child going out into the rain, one is sure to get wet. However, one\'s righteousness can be proven with fortitude[1]."', 'LINE 4: "One is restless and hesitant. One does not listen to trustworthy words, but remains indecisive, intending to avoid the danger, but lacking the necessary courage to eliminate the evil[1]."', 'LINE 5: "Keep to the right path when walking among weeds. Firmness keeps one from corruption[1]."', 'LINE 6: "Helplessness. Danger is present[1]."'], 
                      ['LINE 1: "The restless sow should be firmly restrained. The rolling wagon can be safely stopped. Good fortune. However, if one goes ahead, there is trouble[1]."', 'LINE 2: "There is a fish in the kitchen. It is not for outsiders[1]."', 'LINE 3: "The skin of the buttocks is hurt. One is restless and hesitant. Neither good fortune nor a big problem exists because there is still no real connection[1]."', 'LINE 4: "There is no fish in the kitchen. Movement brings danger. One is seperated from reality.', 'LINE 5: "The big tree overshadows. It provides a supportive framework and protects the gourds. The gourds will ripen and fall naturally. The vines will also wither, but the tree remains stout, upright and unshaken by matters which occur naturally[1]."', 'LINE 6: "Meeting at the tip of a horn. Nothing can be achieved, though there is no grave danger[1]."'],
                      ['LINE 1: "Even if one has unquestionable sincerity, the correct purpose of the gathering may not be clearly understood. Confusion may arise. Clarity and order are brought about by patience, firmness and the demonstrated sincerity of the group. Then the gathering becomes a happy one. There is nothing wrong. Proceed[1]."', 'LINE 2: "Recommendations bring good opportunities. There will be no trouble if one\'s sincerity has not altered. One need not worry that one\'s offering is insufficient[1]."', 'LINE 3: "Aggressive tactics create difficulty. Although this appears unprofitable and small problems may arise, cautiously moving ahead is correct[1]."', 'LINE 3: "Aggressive tactics create difficulty. Although this appears unprofitable and small problems may arise, cautiously moving ahead is correct[1]."', 'LINE 4: "Great good fortune comes with brave conduct[1]."', 'LINE 5: "One cannot depend on one\'s power and position to gather obedience. One must have great purpose, firmness and correctness. Only then is one safe from error[1]."', 'LINE 6: "Sighs and tears. No blame[1]."'],
                      ['LINE 1: "Rising is approved by everyone. Great good fortune[1]."', 'LINE 2: "With sincerity and piety, as in making an offering to Heaven, one obtains happiness[1]."', 'LINE 3: "Rising to enter an unobstructed area. Have no doubts[1]."', 'LINE 4: "The prince makes a great offering at the western mountain. Good fortune is naturally brought forth[1]."', 'LINE 5: "Correctedness bring good fortune. Rising, one nobly achieves his goal[1]."', 'LINE 6: "Continued rising brings self-impoverishment. One enters the realm of delusion[1]."'],
                      ['LINE 1: "Entering a dark valley, one is trapped by bushes. For three years he cannot see the light[1]".', 'LINE 2: "Entrapped by feasting and honor. It is wise to keep to one\'s spiritual practices."', 'LINE 3: "Entrapped by rocks and thorns and nowhere to go. One cannot meet one\'s close companion or wife. Danger[1]."', 'LINE 4: "Trapped in a golden wagon, one moves slowly. This is a pity, but things turn out well in the end[1]."', 'LINE 5: "One is in great distress and trapped by a difficult mission. Success comes only through slow and gradual progress. Spiritual practice should be maintained in order to strengthen onesself inwardly and to prepare oneself to accept the Heavenly blessing when it comes[1]."', 'LINE 6: "Entrapped by wild vines. One\'s arrogance causes discomfort. Thus he must be humble and gather himself in order to break out of bondage. Good fortune[1]."'],
                      ['LINE 1: "There is only dirt in the bottom of the well. Nobody comes to drink from it; even birds avoid it. It seems forsaken[1]."', 'LINE 2: "The fountain is weak. Only frogs can prosper there. One\'s bucket is leaking; no water can be drawn[1]."', 'LINE 3: "The well is clean. It would be a pity not to drink from it. Likewise, a great leader\'s clear-mindedness is a source of blessing to all, for he is the only one who knows how to put the right person in the right job[1]."', 'LINE 4: "Rails are placed around the well for protection. This is correct[1]."', 'LINE 5: "Pure, clean water is available to all[1]."', 'LINE 6: "Do not cover the well. It should provide constant sustenance. Great good fortune and high achievement[1]."'], 
                      ['LINE 1: "Keep still. Be firm like cowhide. Do not move recklessly."', 'LINE 2: "This is the right time to go ahead. No fault[1]."', 'LINE 3: "In a revolution, being too aggressive is as bad as being too conservative. Adhere to advice and make necessary corrections. Thus, one gains the faith of the people[1]."', 'LINE 4: "Remorse disappears. Be faithful in reformation. Good fortune comes with change[1]."', 'LINE 5: "This is a great change that can be seen by all. Even before making a divination this change can be trusted. It is as clear and obvious as the stripes on a tiger[1]."', 'LINE 6: "People of self-cultivation change themselves from within, like the growing spots on a panther. Ordinary people change themselves superficiially through obedience to external pressure. In both ways reformation is accomplished. Now is the right time to keep peace and good order. To further the revolution is destructive[1]."'], 
                      ['LINE 1: "One leg of the three-legged cauldron is not well set and the cauldron inclines to one side. However, one may use this occasion to clean the inside. In a family relationship this situation is like a second woman who, though not formally married, gives birth to a son and thereby contributes to her importance in the family[1]."', 'LINE 2: "The cauldron is filled. One is self-contained and does not let a companion who becomes unbalanced upset him. Thus, there is no blame[1]."', 'LINE 3: "The ears (handles) of the cauldron do not work. Though good food is ready, it cannot be served. One feels regret at not enjoting the food before the rain comes[1]."', 'LINE 4: "The leg of the cauldron is broken. Food falls out of the cauldron and is spoiled. The great minister fails to fulfill his duty and is privately punished. The public has no faith in him[1]."', 'LINE 5: "Strong golden handles of the cauldron with yellow ears, firm union and upright management bring good fortune[1]."', 'LINE 6: "The strong jade handle on top of the lid does not become overheated. Great good fortune. Everything is in order and correctly prepared. The food nourishes the wise and virtuous. The country is well-governed by its top minister[1]."'], 
                      ['LINE 1: "A warning comes like Thunder. Joy comes when one corrects his behavior and puts his life in order. One is benefited by fear[1]."', 'LINE 2: "Fear-evoking Thunder comes. One loses one\'s fortune by hurrying to safety. Do not bother searching for fortune right away. It can be regained in seven days[1]."', 'LINE 3: "Terrified by Thunder, one cannot cunduct oneself calmly. Be cautious and correct one\'s conduct. There is no real trouble[1]."'],
                      ['LINE 1: "One\'s toe is impeded. Nothing furthers. There is no problem in keeping still and being firm in these circumstances[1]."', 'LINE 2: "The calf is impeded. One cannot help his companion. This results in regret[1]."', 'LINE 3: "One\'s sides, or waist, are impeded. The rib cage expands. One\'s heart burns with restlessness. Being held in bondage by too much ambition is endangering[1]."', 'LINE 4: "The trunk of the body is held still. No blame. One should now stop all activities[1]."', 'LINE 5: "One\'s cheeks are kept still. Words must be put in good order. No blame[1]."', 'LINE 6: "Profound stillness and honestly, like the top of a mountain, brings good fortune[1]."'],
                      ['LINE 1: "The wild goose comes to rest on the shore. A young man feels insulted and is the object of gossip. There is no problem because he follows the natural order[1]."', 'LINE 2: "The wild geese gather to rest on a rock, happily enjoying the communion and feast. It is a joyous occasion[1]."', 'LINE 3: "The wild geese gather and stay in the lowlands. A man will leave and not return. A woman will be pregnant but not give birth. One should now defend oneself[1]."', 'LINE 4: "The wild geese come to rest on a branch. There is no problem because the rest is temporary[1]"', 'LINE 5: "The wild geese come to stay at the summit. Though a woman fails to conceive in the three years, this is an extraordinarily good and strong marraige[1]."', 'LINE 6: "A single wild goose flies too high. This is not appropriate for it. When it rejoins its group, their flying formation is beautifully ordered parade[1]."'],
                      ['LINE 1: "It is not a very good match. One leg is shorter than the other and one sees with only one eye. A good relationship can still exist, however, if one is willing to be submissive and helful to one\'s partner[1]"', 'LINE 2: "It is still not an ideal match, but one can have a solid, peaceful relationship in ordinary circumstances[1]."', 'LINE 3: "A reluctant match. The marriage will become disharmonious[1]."', 'LINE 4: "A late marriage. One must wait[1]."', 'LINE 5: "A harmonious marriage. Modesty and virtue result in a good relationship[1]."', 'LINE 6: "A mismatch. An empty basket is brought by the girl. The man performs a bloodless sacrifice. No benefit to the relationship[1]."'],
                      ['LINE 1: "The rich guest gets along well with his rich host. Fullness brings creation without excess[1]."', 'LINE 2: "The decorative coverings of the house are excessive. There is not much light. Darkness brings narrowness and suspicioun. With plain honesty, one can again restore one\'s clarity[1]."', 'LINE 3: "A broken arm impedes usefulness, but no blame. Too many banners flying in the air to protect peoplle from the strong light blocks the light[1]."', 'LINE 4: "The decorative curtains of a house are so thick that one lives in partial darkness: however, association with a good ally brings positive results[1]."', 'LINE 5: "Celebration and good reputation will be brought forth. Good fortune[1]."', 'LINE 6: "A big house has all the luxuries, but look in the house - there is no one inside. For three years no one can be seen there[1]."'],
                      ['LINE 1: "Traveling. Do not argue over small expenses or trouble will arise[1]."', 'LINE 2: "Staying in the right place, one protects one\'s proper ties and finds a good helper[1]."', 'LINE 3: "The lodgings catch fire and one loses his helper. Stubbornness causes trouble[1]."', 'LINE 4: "Traveling to a shelter. One meets with gain but must constantly keep alert. Such temporary lodging makes one feel uneasy[1]."', 'LINE 5: "Shooting a pheasant. Though the arrow is lost, fame is earned[1]."', 'LINE 6: "The bird\'s nest is burned. The cattle are lost. The reckless traveler laughs in the beginning but cries in the end. Misfortune[1]."'],
                      ['LINE 1: "Hesitation. It is correct for a soldier to resolve indecisiveness[1]."', 'LINE 2: "Enlightened instruction should be given to eliminate foolishness and confusion[1]."', 'LINE 3: "Being overly submissive, one loses one\'s confidence[1]."', 'LINE 4: "Remorse disappears. One obtains three kinds of game in the hunt and earns merit[1]."', 'LINE 4: "Remorse disappears. One obtains three kinds of game in the hunt and earns merit[1]."', 'LINE 5: "With gentleness, be firm in your principles. Remorse disappears and all things are benefited. With good preparation, reform is begun. With careful inspection throughout, it is successfully completed. Good fortune[1]."', 'LINE 6: "Being too subservient, one loses property and protection[1]."'],
                      ['LINE 1: "The joy of harmony and independence, Good fortune[1]."', 'LINE 2: "The joy of faithful friendships."', 'LINE 3: "One tries to please superiors with flattery. Misfortune[1]."', 'LINE 4: "One hesitates to curb the lower passions, but when this is accomplished there is much joy and celebration[1]."', 'LINE 5: "Be alert in order to avoid exploitation[1]."', 'LINE 6: "Evil temptation[1]."'],
                      ['LINE 1: "Dispersion begins. Rescue comes like a strong, fast horse with the cooperation of friends[1]."', 'LINE 2: "He quickly goes to the rescue. Remorse disappears[1]."', 'LINE 3: "Dispersing one\'s strength for the salvation of the world. There is no remorse in this[1]."', 'LINE 4: "Leaving one\'s small group, people surprisingly come to support you. Great good fortune[1]. "', 'LINE 5: "Dispersing one\'s treasures to help the world. There is no fault in this[1]."', 'LINE 6: "Dispersing a crisis that could lead to bloodshed. One must keep far from this danger[1]."'],
                      ['LINE 1: "Definite self-restraint. One stays within one\'s houose. No blame[1]."', 'LINE 2: "Self-restraint with flexibility, versatility and movement. To stay behind one\'s door is dangerous[1]."', 'LINE 3: "Lack of self-rstraint brings trouble. This condition could cause one to sigh over his state of helplessness[1]."', 'LINE 4: "Comfortable self-restraint. One feels confident by following a step-by-step plan[1]."', 'LINE 5: "Enjoyable, sweet self-restraint. Good fortune. Everything furthurs[1]."', 'LINE 6: "Bitter self-restraint. The level and standards of self-restraint are too high. Although no serious remorse will be created, extremes in practice will eventually not be able to last long because they are an abnormal approuch[1]."'],
                      ['LINE 1: "Faith or single-mindedness brings peace and good fortune. Diverse intentions bring disharmony[1]."', 'LINE 2: "The crane calls out from the thicket, and the young respond to her call. This is like saying, \'I have something good to enjoy. Let us share it together\'[1]."', 'LINE 3: "One meets one\'s opponent. There could be either a battle or a celebration[1]."', 'LINE 4: "The moon is almost full. The mare runs away from her mate, but offers her loyalty to the leader. No blame[1]."', 'LINE 5: "Faithfulness gathers good people. No remorse[1]."', 'LINE 6: "The rooster flies too high. Bravado bring danger. Correct this[1]."'],
                      ['LINE 1: "The bird tries to fly. Danger. Be humble[1]."', 'LINE 2: "One should stay at one\'s level. Do not attempt to reach what is too high[1]."', 'LINE 3: "Being overly-confident, one neglects proper protection and invites trouble[1]."', 'LINE 4: "Resistance will result from any forceful action due to haste. In correcting restlessness there will be no fault[1]."', 'LINE 5: "The clouds are thick, but it does not rain. One shoots birds in the nest[1]."', 'LINE 6: "The bird flies too high. Danger[1]."'],
                      ['LINE 1: "The wheels are controlled. Beware of getting wet at the onset of crossing the Water. Caution can save one from fault[1]."', 'LINE 2: "The curtain of a lady\'s carriage has fallen somewhere and causes delay. There is no need to search; it will be found in seven days[1]."', 'LINE 3: "It takes three years to achieve victory, which is accomplished through the careful selection of qualified people. However, one feels exhuasted when victory is finally reached[1]."', 'LINE 4: "One needs to be prepared for a leak in the boat at all times by keeping materials at hand to plug the hole. This causes one to remain tense[1]."', 'LINE 5: "The eastern neighbor kills a cow in making an offering. This is no more meaningful than a sincere, modest offering that is given from the heart[1]."', 'LINE 6: "One finally gets his head wet. Danger[1]."'],
                      ['LINE 1: "The young fox gets its tail wet crossing the Water. No good fortune[1]."', 'LINE 2: "To stop the vehicle from moving ahead is correct. Good fortune[1]."', 'LINE 3: "It is not time for a crossing. Going furthur brings danger. One should make preparations for crossing the great Water later[1]."', 'LINE 4: "The proper person is sent to conquer. The victory is achieved in three years and great rewards are received. By being upright, one will overcome difficulties[1]."', 'LINE 5: "To be upright is to have good fortune. No regret. The inner light of a righteous person overcomes all obstacles[1]. "', 'LINE 6: "One falls into the Water and gets his head wet by becoming overexcited after successfully crossing the Water. He loses self-control in his rapture. How can he keep his success long[1]?"']],
    };
  },
  methods: {
    drawCard() {
      // Todo:
      // https://aleadeum.com/2013/07/12/the-i-ching-random-numbers-and-why-you-are-doing-it-wrong/
      if(this.showCard == true){
        this.showCard = false;
        this.showLine = false;
      }
      this.cardNumber = Math.floor(Math.random() * this.hexagrams.length);
      this.lineNumber = Math.floor(Math.random() * 5);
    }, 
    flipCard() {
      if(this.showCard == false){
        this.showCard = true;  
      } 
    },
    flipLine() {
      if(this.showLine == false){
        this.showLine = true;  
      } 
    },
    nextCard() {
      if(this.showCard == true){
        this.showCard = false;
        this.showLine = false;
      }
      if(this.cardNumber < this.hexagrams.length - 1) { 
        this.cardNumber = this.cardNumber + 1;
        this.lineNumber = Math.floor(Math.random() * 6);

      } else {
        this.cardNumber = 0;
        this.lineNumber = Math.floor(Math.random() * 6);
      }
    },
    previousCard() {
      if(this.showCard == true){
        this.showCard = false;
        this.showLine = false;
      }
      if(this.cardNumber > 0) {
        this.cardNumber = this.cardNumber - 1;
        this.lineNumber = Math.floor(Math.random() * 6);

      } else {
        this.cardNumber = this.hexagrams.length - 1;
        this.lineNumber = Math.floor(Math.random() * 6);

      }
    },
    playAudio(type) {
      if(type) {
        if(type == 'hexagram') {
          //  Free Text-To-Speech and Text-to-MP3 for US English https://ttsmp3.com/
          let speech = new Audio(require('../assets/audio/' + this.hexagrams_audio[this.cardNumber]));
          speech.play();
         
          // close media player after use 
          // https://tinyurl.com/ynawxjvk
          speech.onended = function() {
            //this.currentSrc = null;
            this.src = "";
            this.srcObject = null;
            this.remove();
          };
        }
        if(type == 'meaning') {
          //  Free Text-To-Speech and Text-to-MP3 for US English  https://ttsmp3.com/
          let speech = new Audio(require('../assets/audio/' + this.meanings_audio[this.cardNumber]));
          speech.play();

          // close media player after use 
          // https://tinyurl.com/ynawxjvk
          speech.onended = function() {
            //this.currentSrc = null;
            this.src = "";
            this.srcObject = null;
            this.remove();
          };

        }
        if(type == 'select') {
          // Metal Tick 4 by kubawolanin https://freesound.org
          let tap_sound = new Audio(require('../assets/audio/beerbelly38_knife-slash.wav'));
          tap_sound.play();
          // close media player after use 
          // https://tinyurl.com/ynawxjvk
          tap_sound.onended = function() {
            //this.currentSrc = null;
            this.src = "";
            this.srcObject = null;
            this.remove();
          };

        }
        if(type == 'start') {
          let song = new Audio(require('../assets/audio/start.wav'));
          song.play();
          // close media player after use 
          // https://tinyurl.com/ynawxjvk
          song.onended = function() {
            //this.currentSrc = null;
            this.src = "";
            this.srcObject = null;
            this.remove();
          };

        }


        if(type == 'consult') {
          // kayagŭm spt3125 by https://freesound.org/people/spt3125/sounds/24553/

          let song = new Audio(require('../assets/audio/kayagum_down.wav'));
          song.play();
          // close media player after use 
          // https://tinyurl.com/ynawxjvk
          song.onended = function() {
            //this.currentSrc = null;
            this.src = "";
            this.srcObject = null;
            this.remove();
          };

        }

        if(type == 'reveal') {
          //  kayagum gong 5 by phonosupf https://freesound.org/people/PhonosUPF/sounds/494092/

          let song = new Audio(require('../assets/audio/kayagum_filtered.wav'));
          song.play();
          // close media player after use 
          // https://tinyurl.com/ynawxjvk
          song.onended = function() {
            //this.currentSrc = null;
            this.src = "";
            this.srcObject = null;
            this.remove();
          };

        }


      }
    },
    innerTrigram(h) {
      if(h == '䷀' || h == '䷄' || h == '䷈' || h == '䷊' || h == '䷍' || h == '䷙' || h == '䷡' || h == '䷪') {
        return this.heavenTrigram; 
      }
      if(h == '䷁' || h == '䷇' || h == '䷋' || h == '䷏' || h == '䷓' || h == '䷖' || h == '䷢' || h == '䷬') {
        return this.earthTrigram;
      }
      if(h == '䷌' || h == '䷕' || h == '䷝' || h == '䷣' || h == '䷤' || h == '䷰' || h == '䷶' || h == '䷾') {
        return this.fireTrigram;
      }
      if(h == '䷃' || h == '䷅' || h == '䷆' || h == '䷜' || h == '䷧'
|| h == '䷮' || h == '䷺' || h == '䷿') {
        return this.waterTrigram;
      } 
      if(h == '䷎' || h == '䷞' || h == '䷠' || h == '䷦' || h == '䷳' || h == '䷴' || h == '䷷' || h == '䷽') {
        return this.mountainTrigram;
      } 
      if(h == '䷉' || h == '䷒' || h == '䷥' || h == '䷨' || h == '䷵' || h == '䷹' || h == '䷻' || h == '䷼') {
        return this.lakeTrigram;
      } 
      if(h == '䷂' || h == '䷐' || h == '䷔' || h == '䷗' || h == '䷘' || h == '䷚' || h == '䷩' || h == '䷲') {
        return this.thunderTrigram;
      }
      if(h == '䷑' || h == '䷛' || h == '䷟' || h == '䷫' || h == '䷭' || h == '䷯' || h == '䷱' || h == '䷸') {
        return this.windTrigram;
      } 
    },
    outerTrigram(h) {
      if(h == '䷀' || h == '䷅' || h == '䷉' || h == '䷋' || h == '䷌' || h == '䷘' || h == '䷠' || h == '䷫') {
        return this.heavenTrigram; 
      }
      if(h == '䷁' || h == '䷆' || h == '䷊' || h == '䷎' || h == '䷒' || h == '䷗' || h == '䷣' || h == '䷭') {
        return this.earthTrigram; 
      }
      if(h == '䷍' || h == '䷔' || h == '䷝' || h == '䷢' || h == '䷥' || h == '䷱' || h == '䷷' || h == '䷿') {
        return this.fireTrigram; 
      }
      if(h == '䷂' || h == '䷄' || h == '䷇' || h == '䷜' || h == '䷦' || h == '䷯' || h == '䷻' || h == '䷾') {
        return this.waterTrigram;
      }
      if(h == '䷃' || h == '䷑' || h == '䷕' || h == '䷖' || h == '䷙' || h == '䷚' || h == '䷨' || h == '䷳') {
        return this.mountainTrigram;
      }
      if(h == '䷐' || h == '䷛' || h == '䷞' || h == '䷪' || h == '䷬' || h == '䷮' || h == '䷰' || h == '䷹') {
        return this.lakeTrigram;
      }
      if(h == '䷏' || h == '䷟' || h == '䷡' || h == '䷧' || h == '䷲' || h == '䷵' || h == '䷶' || h == '䷽') {
        return this.thunderTrigram;
      } 
      if(h == '䷈' || h == '䷓' || h == '䷤' || h == '䷩' || h == '䷴' || h == '䷸' || h == '䷺' || h == '䷼') { 
        return this.windTrigram;
      } 
    },
  },
  mounted() {
    this.$nextTick(function () {
      this.playAudio('music');
    })
  },
};

</script>

<!-- Use preprocessors via the lang attribute! e.g. <style lang="scss"> -->
<style>
  html {
    background-color: #ecddb7;
  }

  #app {
    background-color: #ecddb7;
    font-family: "Itim", cursive;
    font-size: 1em;
    text-align: center;      
    color: black;
    font-weight: light;
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }

  h1, #hexagram_heading {
    color: #555;
    font-size: 1.2em;
    margin: 0 auto;
    width: 50%;
  }

  h1 img {
    margin-top: 5vh;
    height: 8vh;
  }

  h2.footer-button {
    font-size: 1em;
  }


  /*.card {
    position: relative;
    height: 65vh;
    background-image: url("../assets/images/card_background.png");
    background-position: center center;
    background-size: auto 90%;
    background-repeat: no-repeat; 
  } */
  
  .top_card {
    border-radius: 10px;
    border: 0.1mm solid #555;
    height: 28vh;
    width: 75vw;
    margin: 0 auto;
    background-color: #dcd1c3;
    color: #555;
  }
  
  .top_card img, .bottom_card img {
    height: 6vh;
  }

  @keyframes animatedCursor {
    0%, 100% {
      margin-right: 20px;
    }
    50% {
      margin-right: 10px;
    }
  }

  .cursor {
    margin-right: 10px; 
    animation: animatedCursor 1s infinite;
  }


  .bottom_card {
    border-radius: 10px;
    border: 0.1mm solid #555;
    height: 24vh;
    width: 75vw;
    margin: 0 auto;
    background-color: #dcd1c3;
    color: #555;
  }

  .hexagram {
    width: 80%;
    margin: 0 auto;
    /*display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;*/
  }

  .hexagram span.audio_button {
    grid-column: 1;
  }

  .hexagram div {
    /*grid-column: 2;*/
    margin: 0 auto;
  }

  .hexagram div p {
    margin: 12px auto;
  }

  .hexagram p img {
    margin-bottom: -12px;
  }

  .meaning {
    height: 100%;
    width: 80%;
    /*padding-left: 20px;*/
    margin: 0 auto;
    /*display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;*/
    text-align: left;
  }

  .meaning span.audio_button {
    grid-column: 6;
    align-self: start;
    margin-top: 3em;
  }

  .meaning span.line-meaning {
    padding-top: 20px;
  }

  .meaning ul {
    /*grid-column: 1;*/
    margin-top: 20px;
  }

  span li {
    overflow-wrap: normal;
  }

  .flip {
    height: 90%;
    overflow-y: scroll;
  }
  
  .tip {
    /*position: absolute;
    top: 60vh;
    width: 50%;
    left: 25vw; */
  }
  
  a,
  button {
    color: #4fc08d;
  }

  button {
    background: none;
    border: solid 1px;
    border-radius: 0;
    font: inherit;
    padding: 0.75em 2em;
  }

  .audio_button {
    padding: 0;
    width: 35px;
    color: #555;
    border: none;
  }

  .container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay {
    z-index: 9;
    background: #444;
  }
  
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .rotate {
    animation: rotation 120s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .mural {
    height: 220vw;
    width: 220vw;
    position: absolute;
    top: -15vh;
    left: -30vw;
  } 

  header {
    border: 0.1mm solid #555;
    position: absolute;
    background-color: #dcd1c3;
    border-radius: 10px;
    width: 50vw;
    height: 50vw;
    left: 20vw;
    top: 60vh;
  }

  .shade header {
    position: absolute;
    background-color: #dcd1c3;
    border-radius: 10px;
    width: 70vw;
    height: 60vw;
    left: 50vw;
    margin-left: -35vw;
    top: 18vh;
  }


  .title {
    font-family: "Signika Negative", sans-serif;
    font-size: 7vw;
    margin-top: 4vh;
  }

  .sub-title {
    margin-top: 2vh;
    font-family: "Signika Negative", sans-serif;
    font-size: 6vw;
    color: #888;
  }

  .shade .sub-title {
    margin-top: 2vh;
    width: 100%;
  }


  .start-button {
     margin-top: 1vh;
     background-color: #444;
     border-radius: 4px;
     padding: 15px 20px 15px 20px;
     color: white;
     font-size: 6vw;
  }

  .shade .start-button {
    margin-top: 1.5vh;
  }
  
  .overlay.shade {
    background-color: rgba(68,68,68,0.5);    
  }

  .modal ul {
    list-style-type: none;
  }

  .modal li {
    text-align: left;
    margin: 0 auto;
  }
</style>
