<!--
 * 8mana Hexagram Guide 
 * Copyright (C) 2021 James Michiemo 
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
--> 

<template>
  <ion-app>
    <ion-router-outlet />
  </ion-app>
</template>

<script>
import { IonApp, IonRouterOutlet } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
  components: {
    IonApp,
    IonRouterOutlet
  }
});
</script>

<style>

  @font-face {
    font-family: "Just Another Hand";
    src: local("Just Another Hand"), url("./fonts/JustAnotherHand-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Itim";
    src: local("Itim"), url("./fonts/Itim-Regular.ttf") format("truetype");
  }

   @font-face {
    font-family: "Signika Negative";
    src: local("Signika Negative"), url("./fonts/SignikaNegative-Bold.ttf") format("truetype");
  }
</style>
